body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 260px; 
  position: fixed;
}
.ko1 {
font-size: 24px;
position: fixed;
margin-bottom: 400px;
};

.ko2 {
font-size: 24px;
position: fixed;
};

.ko3 {
font-size: 24px;
position: fixed;
margin-bottom: 20px;
};