@include tablet {
    grid-template-columns: repeat(2, 250px);
    padding: 30px;
    columns: 60px;
}

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    padding-left: 20px;
    height: 100%;
    margin: 0;
    line-height: 80px;
  }
  header nav {
    gap: 20px;
  }
  main .main-item {
    margin-top: 40px;
    grid-template-columns: repeat(4, 250px);
  }
}