.grid {
    display: grid;
    background-color: #eee;
    gap: 10px;
    padding: 10px;
}

.item {
background: pink;
color: brown;
display: flex;
align-items: center;
justify-content: center;
}

/* grid-template-columns / rows */
.template {
    grid-template-columns: 100px 100px;
/* 열 너비 */
grid-template-columns: 100px 200px 100px;
/* 행 높이 */
grid-template-rows: 50px;
}
.gap {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 80px 80px;
}
.cr {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 60px);
}
.cr .column {
    /* span 2 == 1 / 3 */
    grid-column: 1 / 3; 
}
.cr .row {
    grid-row: span 2;
}
.area {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 50px);
    grid-template-areas: 
    "header header"
    "nav main"
    "nav section"
    "footer footer";
}
.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.main {
    grid-area: main;
}
.section {
    grid-area: section;
}
.footer {
    grid-area: footer;
}
/*
.header .footer {
    grid-column: span 2;
}
.nav {
    grid-row: span 2;
}
*/
.fit {
    /* auto-fit : 공간에 맞춰 컬럼 개수 자동 */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.fill {
    /* auto-fill : 빈 칸을 유지하면서 컬럼 개수 수 유지 */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.items {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
    align-items: end;
    justify-items: start;
}
.content {
    height: 300px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 80px);
    align-content: space-between;
    justify-content: center;
}