body {
    background: linear-gradient(90deg, orange, red);
}

.box {
    height: 350px;
    width: 250px;
    border: 3px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    top: 10%;
    left: 30%;
    position: absolute;
}
.circle {
    background-image:url(../02-style_01-css/assets/panda.jpg);
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center;
     height: 100px;
    width: 100px;
    border: 2.5px solid;
    padding: 20px;
    color: white;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    top: 20%;
    left: 47%;
    position: absolute;
}

.ta1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    top: 28%;
    left: 41%;
    position: absolute;
}
.ta2 {
    text-align: center;
    font-size: 13px;
    top: 34.5%;
    left: 38%;
    position: absolute;
}

.box2 {
    height: 13px;
    width: 220px;
    border: 3px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: white;
    background: white;
    top: 37%;
    left: 32%;
    font-weight: bold;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    height: 13px;
    width: 220px;
    border: 3px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    top: 44%;
    left: 32%;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
