* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.header {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  padding: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./assets/bg.jpg) center/cover no-repeat;
  filter: brightness(50%);
  z-index: -1;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: white;
}
.main {
    padding-left: 200px;
}
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
}

.title {
    font-size: 30px;
    text-align: center;
    color: black;
    flex-direction: column;
    justify-content: top;
    margin-right: 1300px;
}

.food {
  display: flex;
  justify-content: center;
  /* width: 300px;     */
  height: 300px;
}

.ex {
    font-size: 17px;
    text-align: center;
    color: black;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    max-width: 90%;
}

.cards {
  max-width: 2000px;
  margin: 60px 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  background: #6e6e73;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

